<launch>

  <!-- rviz start -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find perception_lidar_clustering)/config/settings.rviz" />

  <!-- play rosbag with initial lidar data -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find perception_lidar_clustering)/rosbag/me5413_lidar.bag"/>
  

  
</launch>