<launch>

  <!-- rviz start -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find perception_lidar_clustering)/config/setting1.rviz" />

  <!-- record begin -->
  <node pkg="rosbag" type="record" 
        name="bag_record" 
        args="pypublisher -O $(find perception_lidar_clustering)/rosbag/BonusTask_rosbag.bag" />


  <!-- do clustering -->
  <!-- <node pkg="perception_lidar_clustering" type="do_clustering" name="do_clustering" args="0.5 19" /> -->
  <!-- <node pkg="perception_lidar_clustering" type="lidar_clustering.py" name="lidar_clustering" /> -->

  <!-- play rosbag with initial lidar data -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find perception_lidar_clustering)/rosbag/me5413_lidar.bag"/>
  

  
</launch>